 *,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    font-size: inherit;
    color: inherit;
}

html {
    box-sizing: border-box;
    font-size: calc(1rem + (3) * ((100vw - 300px) / (1080 - 300)));
}

:root,
html,
body {
    height: 100%;
}

input[type=checkbox] {
    width: 0;
    height: 0;
    opacity: 0;
    
}
input[type="text"]
{
border: 1px solid black;
}
input[type=checkbox] + label {
    position: relative;
}

input[type=checkbox] + label::before {
    content: '';
    position: absolute;
    top: 0.1em;
    left: -1.5em;
    width: 1em;
    height: .75em;
    border: thin solid lightgray;
    margin-right: 1em;
    padding: 0 .1em 1.1em .1em;
}

input[type=checkbox]:focus + label::before {
    outline: rgb(59, 153, 252) solid 0.1em;
}

input[type=checkbox]:checked + label::before {
    content: '🗸';
}

header, footer {
    display: flex;
    height: 15%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


header h1 {
    font-size: 2.5rem;
    
    background-color: darkseagreen;
}

main {
    height: 70%;
}

#todo{
    display: flex;
    height: 3em;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 0.1em solid lightgray;
}

#todo-list {
    display: flex;
    justify-content: center;
    height: calc(100% - 3rem);
    overflow-x: hidden;
    overflow-y: auto;
}

#todo-list {
    display: grid;
    grid-template-columns: max-content;
    grid-auto-rows: max-content;
    height: 100%;
    font-size: 1.3rem;
    list-style: none;
}

#todo-item > li {
    height: 3em;
}

#todo-add {
    width: 1em;
}
footer {
    border-top: 0.1em solid lightgray;
}
#todo-list > li{
height:3em;
}
